@using Desafio.Umbler.Models;

@{ ViewData["Title"] = "Home Page"; }


<div id="mm-0" class="mm-page mm-slideout">

    <section id="domain-search">
        <div class="container py-4 pb-md-5">
            @using (Html.BeginForm("Get", "Domain", FormMethod.Get, new { @id = "form-domain" }))
            {
            <div id="box-result" class="row">
                <div class="col-lg-9 col-md-8">
                    <label class="sr-only" for="txt-search">Domínio</label>
                    <input class="form-control form-control-lg domain" id="txt_search" name="txt_search" placeholder="Digite o Domínio que deseja pesquisar" type="text" value="">
                </div>
                <div class="col-lg-3 col-md-4 text-xs-right">
                    <button type="button" id="btn-search" name="name" class="btn btn-success btn-block btn-lg text-xs-center" data-loading-text="Pesquisando...">
                        <i class="icon icon-search icon-white mr-1"></i>
                        <span>Pesquisar...</span>
                    </button>
                </div>
              
            </div>
            }

        </div>
    </section>

    <section id="domain-list">
        <div class="container my-3 my-lg-5">
            <label class="labelNegrito">Nome domínio: </label>
            <label id="nameDomain"></label>
        </div>
        <div class="container my-3 my-lg-5">
            <label class="labelNegrito">Ip do registro: </label>
            <label id="ipDomain"></label>
        </div>
        <div class="container my-3 my-lg-5">
            <label class="labelNegrito">Dados Whois:</label>
            <label id="whois-results"></label>
        </div>
    </section>

    <div id="table-list-ext" class="bg-faded bg-secondary-lighter">
        <div id="HostedAt" class="container py-4">
        </div>
    </div>

    <a id="back-top" href="javascript:void(0);" rel="nofollow" class="icon icon-arrow-upward icon-inverse icon-3x hidden-sm-down"></a>
</div>

<style type="text/css">
    .labelNegrito {
        font-weight: bolder;
    }
</style>